/*HEADER*/

/*article_1*/

/*article_2*/

.article_2 {
    display: flex;
}

.part2_left {
    width: 60%;
    background-color: black;
}

.title_part2 {
    display: flex;
    justify-content: center;
    color: white;
}

.container_images_part2 {
    display: flex;
    justify-content: space-around;
}

.names_part2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Playfair Display;
}

.part2_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    height:400px;
    background-image:url(../images/article_2/Rectangle8.png);
    color: white;
    
}

.watch_part2 {
    width: 150px;
}

.catalogue {
    width: 100px;
}

/*article_3*/

/*article_4*/

/*article_5*/

/*FOOTER*/